header {
    background-color: rgb(159, 212, 181);
    height: 25px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu {
    display: flex;
    gap: 20px;
}
li {
    list-style: none;
}
