* {
    margin: O;
    padding: 0;
    }
:root {
    --branco-principal: #fff;
    --cinza-secundario: #c0c0c0; 
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c; 
}
body {
    background-color: #000;
}
.principal {
    background-image: url('julia.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 600px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_botao {
    background-color: #8e99fa;
    border-radius: 10%;
    padding: 15px;
    color: var(--branco-principal);
    display: block;
}
.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    
}
h1 {
    color: aliceblue;
}